/*µ±«∞Œª÷√*/
.Current_position {
	height: 40px;
	line-height:20px;
	background-color:#fff;
	font-size:14px;
}
.Current_position img{
	float:left;
	width:30px;
	height:25px;
	margin-top:10px;
}
.Current_position span{
	display:inline-block !important;
	height:45px;
	line-height:45px;
	font-weight: 600 !important;
	color: #888 !important;
	font-family: "Microsoft YaHei" !important;
}
.Current_position a,.Current_position a:hover {
	color:#1f5e9c;
	text-decoration: underline;
	font-family: "Microsoft YaHei" !important;
}