
.default{background: url('../images/default.png') no-repeat}
.book_edit{background:url('../images/book_edit.png') no-repeat;}
.pencil{background:url('../images/pencil.png') no-repeat;}
.back{background:url('../images/back.png') no-repeat;}
.search{background:url('../images/search.png') no-repeat;}
.map{background:url('../images/map.png') no-repeat;}
.pictures{background:url('../images/pictures.png') no-repeat;}
.calculator{background:url('../images/calculator.png') no-repeat;}
.folder{background:url('../images/folder.png') no-repeat;}
.pie{background:url('../images/pie.png') no-repeat;}
.group_add{background:url('../images/group_add.png') no-repeat;}

.img_show{background:url('../images/img_show.png') no-repeat}
.img_show{background:url('../images/img_show.png') no-repeat}
.img_show{background:url('../images/img_show.png') no-repeat}
.img_show{background:url('../images/img_show.png') no-repeat}
.default_show{background:url('../images/default_show.png') no-repeat}
.kjyw_show{background:url('../images/kjyw_show.png') no-repeat}
.blbz_show{background:url('../images/blbz_show.png') no-repeat}
.bldb_show{background:url('../images/bldb_show.png') no-repeat}
.blylbx_show{background:url('../images/blylbx_show.png') no-repeat}
.blzjsq_show{background:url('../images/blzjsq_show.png') no-repeat}
.blzjysq_show{background:url('../images/blzjysq_show.png') no-repeat}
.blzm_show{background:url('../images/blzm_show.png') no-repeat}
.dyxx_show{background:url('../images/dyxx_show.png') no-repeat}
.jtxx_show{background:url('../images/jtxx_show.png') no-repeat}
.lnrxx_show{background:url('../images/lnrxx_show.png') no-repeat}
.qzgl_show{background:url('../images/qzgl_show.png') no-repeat}
.rkxx_show{background:url('../images/rkxx_show.png') no-repeat}
.yfgz_show{background:url('../images/yfgz_show.png') no-repeat}
.ylbx_show{background:url('../images/ylbx_show.png') no-repeat}
.zyzxx_show{background:url('../images/zyzxx_show.png') no-repeat}
.front_show{background:url('../images/front_show.png') no-repeat}
.object_show{background:url('../images/object_show.png') no-repeat}
.jcxxgl_show{background:url('../images/jcxxgl_show.png') no-repeat}
.个人捐赠_bizshow{background:url('../images/个人捐赠_bizshow.png') no-repeat}
.个人捐赠_bizhide{background:url('../images/个人捐赠_bizhide.png') no-repeat}
.社会捐赠_bizshow{background:url('../images/社会捐赠_bizshow.png') no-repeat}
.社会捐赠_sub_bizshow{background:url('../images/社会捐赠_sub_bizshow.png') no-repeat}
.个人捐赠_sub_bizshow{background:url('../images/个人捐赠_sub_bizshow.png') no-repeat}
.民政业务_bizshow{background:url('../images/民政业务_bizshow.png') no-repeat}
.医保登记记录_bizshow{background:url('../images/医保登记记录_bizshow.png') no-repeat}
.医保登记记录_sub_bizshow{background:url('../images/医保登记记录_sub_bizshow.png') no-repeat}
.05默认图标_most{background:url('../images/05默认图标_most.png') no-repeat}
.menu_ico_sqwg_show{background:url('../images/menu_ico_sqwg_show.png') no-repeat}
.menu_ico_zhpj_show{background:url('../images/menu_ico_zhpj_show.png') no-repeat}
.menu_ico_qsyc_show{background:url('../images/menu_ico_qsyc_show.png') no-repeat}
.top10_desk{background:url('../images/top10_desk.png') no-repeat}
.qxsll_desk{background:url('../images/qxsll_desk.png') no-repeat}
.rkxxtj_desk{background:url('../images/rkxxtj_desk.png') no-repeat}
.i28{background:url('../images/i28.png') no-repeat}
.i46{background:url('../images/i46.png') no-repeat}