@charset "utf-8";

body {
	background-color: #eee;
	color: #333;
	font-size: 13px;
	font-family: "微软雅黑", "华文细黑", Arial, sans-serif;
	min-width:980px;
}

*{	-moz-transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.menu_list .menu_item {
	float: left;
	width: 108px;
	height: 152px;
	color: #666666;
	font-size: 15px;
	text-align: center;
	padding-top: 115px;
	margin-left: 150px;
	margin-top: 95px;
	line-height: 18px;
	text-decoration: none;
}

/*内容相关样式*/
.current_page h2{
	margin-top: 50px;
	margin-bottom:10px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 60px;
	color:#368ee0;
}
.current_page_div .current_page_tab .query_button{
    border: 0px;
    width: 30px;
    height: 30px;
    box-shadow: none;
    background-color: #fff;
    background-image: url(../images/ss_ico_but.png);
    vertical-align: middle;
	margin-left:15px;
}

.current_page_div .current_page_tab .dc_ico{
    border: 0px;
    width: 30px;
    height: 30px;
    box-shadow: none;
    background-color: #fff;
    background-image: url(../images/DC_ico_.png);
    vertical-align: middle;
	margin-left:1px;
}

.current_page_div .current_page_tab{
	width:700px;
	margin:0 auto;
	font-size:15px;
}
.current_page_div .current_page_tab td{
	height:30px;
	line-height:30px;
	color:#666666;
	text-align:center;
	padding:0 5px;
}
.current_page_div .current_page_tab td input[type="text"]{
	width: 160px;
	height:30px;
	line-height:30px;
	border:#ccc solid 1px;
	border-radius:3px;
}
.current_page_div .current_page_tab td input{
   vertical-align: middle;
}
.current_page_div .current_page_tab td input[type="radio"]{
	 margin-left: 15px;
}

   
.trt{text-align:right; white-space:nowrap;}
 
  /*添加动画*/
  .menu_item:hover {
    animation:swing 1s;
    -moz-animation:swing 1s; /* Firefox */
    -webkit-animation:swing 1s; /* Safari and Chrome */
    -o-animation:swing 1s; /* Opera */
  }

  .current_page {
  	animation:fadeInLeft 2s;
    -moz-animation:fadeInLeft 2s; /* Firefox */
    -webkit-animation:fadeInLeft 2s; /* Safari and Chrome */
    -o-animation:fadeInLeft 2s; /* Opera */
  }

  .menu_list {
  	animation:fadeInLeft 2s;
    -moz-animation:fadeInLeft 2s; /* Firefox */
    -webkit-animation:fadeInLeft 2s; /* Safari and Chrome */
    -o-animation:fadeInLeft 2s; /* Opera */
  }
  
  .donghua {
  	animation:rollOut 2s;
    -moz-animation:rollOut 2s; /* Firefox */
    -webkit-animation:rollOut 2s; /* Safari and Chrome */
    -o-animation:rollOut 2s; /* Opera */
  }

  /*左淡入*/
  #animation{
  	animation:fadeInLeft 1s .2s ease both;
	-webkit-animation:fadeInLeft 1s .2s ease both;
	-moz-animation:fadeInLeft 1s .2s ease both;
  }
  @keyframes fadeInLeft{
	0%{opacity:0;
	transform:translateX(-20px)}
	100%{opacity:1;
	transform:translateX(0)}
  }
  @-webkit-keyframes fadeInLeft{
	0%{opacity:0;
	-webkit-transform:translateX(-20px)}
	100%{opacity:1;
	-webkit-transform:translateX(0)}
  }
  @-moz-keyframes fadeInLeft{
	0%{opacity:0;
	-moz-transform:translateX(-20px)}
	100%{opacity:1;
	-moz-transform:translateX(0)}
  }

  /*淡入*/
  #animation{
  	animation:fadeIn 1s .2s ease both;
	-webkit-animation:fadeIn 1s .2s ease both;
	-moz-animation:fadeIn 1s .2s ease both;
  }
  {
	0%{opacity:0}
	100%{opacity:1}
  }
  {
	0%{opacity:0}
	100%{opacity:1}
  }

  /*弹跳*/
  #animation{
	animation:bounceIn 1s .2s ease both;
	-webkit-animation:bounceIn 1s .2s ease both;
	-moz-animation:bounceIn 1s .2s ease both;
  }
  @keyframes bounceIn{
	0%{opacity:0;
	transform:scale(.3)}
	50%{opacity:1;
	transform:scale(1.05)}
	70%{transform:scale(.9)}
	100%{transform:scale(1)}
  }
  @-webkit-keyframes bounceIn{
	0%{opacity:0;
	-webkit-transform:scale(.3)}
	50%{opacity:1;
	-webkit-transform:scale(1.05)}
	70%{-webkit-transform:scale(.9)}
	100%{-webkit-transform:scale(1)}
  }
  @-moz-keyframes bounceIn{
	0%{opacity:0;
	-moz-transform:scale(.3)}
	50%{opacity:1;
	-moz-transform:scale(1.05)}
	70%{-moz-transform:scale(.9)}
	100%{-moz-transform:scale(1)}
  }

  /*摇摆*/
  #animation{
	animation:swing 1s .2s ease both;
    -webkit-animation:swing 1s .2s ease both;
    -moz-animation:swing 1s .2s ease both;
  }
  @keyframes swing{
    20%,40%,60%,80%,100%{transform-origin:top center}
    20%{transform:rotate(15deg)}
    40%{transform:rotate(-10deg)}
    60%{transform:rotate(5deg)}
    80%{transform:rotate(-5deg)}
    100%{transform:rotate(0deg)}
  }
  @-webkit-keyframes swing{
    20%,40%,60%,80%,100%{-webkit-transform-origin:top center}
    20%{-webkit-transform:rotate(15deg)}
    40%{-webkit-transform:rotate(-10deg)}
    60%{-webkit-transform:rotate(5deg)}
    80%{-webkit-transform:rotate(-5deg)}
    100%{-webkit-transform:rotate(0deg)}
  }
  @-moz-keyframes swing{
    20%,40%,60%,80%,100%{-moz-transform-origin:top center}
    20%{-moz-transform:rotate(15deg)}
    40%{-moz-transform:rotate(-10deg)}
    60%{-moz-transform:rotate(5deg)}
    80%{-moz-transform:rotate(-5deg)}
    100%{-moz-transform:rotate(0deg)}
  }

  /*旋转*/
  @keyframes rotateIn{
    0%{transform-origin:center center;
    transform:rotate(-360deg);
    opacity:1}
    100%{transform-origin:center center;
    transform:rotate(0);
    opacity:1}
  }
  @-webkit-keyframes rotateIn{
    0%{-webkit-transform-origin:center center;
    -webkit-transform:rotate(-360deg);
    opacity:1}
    100%{-webkit-transform-origin:center center;
    -webkit-transform:rotate(0);
    opacity:1}
  }
  @-moz-keyframes rotateIn{
    0%{-moz-transform-origin:center center;
    -moz-transform:rotate(-360deg);
    opacity:1}
    100%{-moz-transform-origin:center center;
    -moz-transform:rotate(0);
    opacity:1}
  }

  /*放大*/
  #animation{
	animation:pulse 1s .2s ease both;
    -webkit-animation:pulse 1s .2s ease both;
    -moz-animation:pulse 1s .2s ease both;
  }
  @keyframes pulse{
    0%{transform:scale(1)}
    50%{transform:scale(1.1)}
    100%{transform:scale(1)}
  }
  @-webkit-keyframes pulse{
    0%{-webkit-transform:scale(1)}
    50%{-webkit-transform:scale(1.1)}
    100%{-webkit-transform:scale(1)}
  }
  @-moz-keyframes pulse{
    0%{-moz-transform:scale(1)}
    50%{-moz-transform:scale(1.1)}
    100%{-moz-transform:scale(1)}
  }

  /*旋转退出*/
  #animation{
	animation:rollOut 1s .2s ease both;
	-webkit-animation:rollOut 1s .2s ease both;
	-moz-animation:rollOut 1s .2s ease both;
  }
  @keyframes rollOut{
	0%{opacity:1;
	transform:translateX(0px) rotate(0deg)}
	100%{opacity:0;
	transform:translateX(100%) rotate(120deg)}
  }
  @-webkit-keyframes rollOut{
	0%{opacity:1;
	-webkit-transform:translateX(0px) rotate(0deg)}
	100%{opacity:0;
	-webkit-transform:translateX(100%) rotate(120deg)}
  }
  @-moz-keyframes rollOut{
	0%{opacity:1;
	-moz-transform:translateX(0px) rotate(0deg)}
	100%{opacity:0;
	-moz-transform:translateX(100%) rotate(120deg)}
  }

  .ico_li_div:hover {
	animation:rotateIn 1s;
    -moz-animation:rotateIn 1s; /* Firefox */
    -webkit-animation:rotateIn 1s; /* Safari and Chrome */
    -o-animation:rotateIn 1s; /* Opera */
  }

  /*地图相关样式 start*/
  .menu_div_page .grid_ico_ul{
	width:50px;
	height:240px;
	position: absolute; 
	top:30px;
	right:20px;
	}		
	.menu_div_page .grid_ico_ul li{
		-moz-transition:none;
	    -webkit-transition:none;
	    -o-transition: none;
	    transition:none;
		width:46px;
		height:46px;
		background-image:url(../images/icons/grid_ico_bj_01.png);
		padding-top:7px;
		padding-left:6px;
		margin-top: 8px;	
	}
	.menu_div_page .grid_ico_ul li:hover{
		-moz-transition:none;
	    -webkit-transition:none;
	    -o-transition: none;
	    transition:none;
		width:46px;
		height:46px;
		background:url(../images/icons/grid_ico_bj_02.png) -1px 0px no-repeat;	
	}
	.menu_div_page .grid_ico_ul li .ico_li_div{
		-moz-transition:none;
	    -webkit-transition:none;
	    -o-transition: none;
	    transition:none;
		width:30px;
		height:30px;
	}
	.menu_div_page .grid_ico_ul li .f_ic_1{
		background:url(../images/icons/grid_ico.png) -0px -0px no-repeat;
	}
	.menu_div_page .grid_ico_ul li .f_ic_2{
		background:url(../images/icons/grid_ico.png) -32px -0px no-repeat;
	}
	.menu_div_page .grid_ico_ul li .f_ic_3{
		background:url(../images/icons/grid_ico.png) -63px -0px no-repeat;
	}
	.menu_div_page .grid_ico_ul li .f_ic_4{
		background:url(../images/icons/grid_ico.png) -94px -0px no-repeat;
	}

	.menu_div_page .grid_ico_ul li:hover .f_ic_1, .menu_div_page .grid_ico_ul li.selected .f_ic_1{
		background:url(../images/icons/grid_ico.png) -127px -0px no-repeat;
	}
	.menu_div_page .grid_ico_ul li:hover .f_ic_2, .menu_div_page .grid_ico_ul li.selected .f_ic_2{
		background:url(../images/icons/grid_ico.png) -158px -0px no-repeat;
	}
	.menu_div_page .grid_ico_ul li:hover .f_ic_3, .menu_div_page .grid_ico_ul li.selected .f_ic_3{
		background:url(../images/icons/grid_ico.png) -188px -0px no-repeat;
	}
	.menu_div_page .grid_ico_ul li:hover .f_ic_4, .menu_div_page .grid_ico_ul li.selected .f_ic_4{
		background:url(../images/icons/grid_ico.png) -218px -0px no-repeat;
	}

	.menu_div_page .grid_ico_ul li.selected{
		background-image:url(../images/icons/grid_ico_bj_03.png);
	}


	.menu_div_page .grid_ico_ul li .ico_layer_div{
		display: none;
		width:280px;
		height:360px;
		background-color:#FFF;
		position: absolute; 
	    top:63px;
	    right:70px;
	}
	.menu_div_page .grid_ico_ul li.selected .ico_layer_div{
		display:block;
	}
	.menu_div_page .grid_ico_ul li .ico_layer_div .la_title_div{
		background-color:#fafafa;
		height:53px;
		line-height:53px;
		width:100%;
		font-size:20px;
		padding-left:20px;
		color:#848484;
	}
	.menu_div_page .grid_ico_ul li .ico_layer_div .la_li_div{
		-moz-transition: background 0.5s ease-in;
	    -webkit-transition: background 0.5s ease-in;
	    -o-transition: background 0.5s ease-in;
	    transition: background 0.5s ease-in;
		background:url(../images/icons/arrow_bj.png) -320px -0px no-repeat;
		width:262px;
		height:50px;
		line-height:50px;
		font-size:20px;
		padding-left:20px;
		margin:10px auto;
		border-radius:6px;
		color:#848484;
	}
	.menu_div_page .grid_ico_ul li .ico_layer_div .la_li_div:hover{
		-moz-transition: background 0.5s ease-in;
	    -webkit-transition: background 0.5s ease-in;
	    -o-transition: background 0.5s ease-in;
	    transition: background 0.5s ease-in;
		background:url(../images/icons/arrow_bj.png) -0px -0px no-repeat;
		color:#fff;
	}

	.menu_div_page .grid_ico_ul li .ico_layer_div .la_title_div .fa-remove{
		margin-right:12px;
		margin-top:14px;
		cursor:pointer;
	}
	.menu_div_page .grid_ico_ul li .ico_layer_div .la_title_div img{
		margin-right:-37px;
		margin-top:14px;
	}

	.checkboxFive {
		float:left;
		width: 25px;
		height:25px;
		display:inline-block;
	}
	
	.la_li_div {
		cursor: pointer;
	}

	.la_li_div label.label_checkbox {
		display: inline-block !important;
		margin-left: 5px !important;
		font-size: 100% !important;
	}

	/**
	 * 隐藏默认的checkbox
	 */
	.checkboxFive input[type=checkbox]{
		-moz-transition:none;
	    -webkit-transition:none;
	    -o-transition: none;
	    transition:none;
		-webkit-appearance: none;
		background: #f1f1f1 url(../images/icons/checkbox_01.png);
		vertical-align: middle;
		height: 24px;
		width: 24px;
		border:none;
		outline: none;
		border-radius:6px;
		margin: 0px;
	}
	.checkboxFive input[type="checkbox"]:checked {
		-moz-transition:none;
	    -webkit-transition:none;
	    -o-transition: none;
	    transition:none;
		-webkit-appearance: none;
		background: #f1f1f1 url(../images/icons/checkbox_02.png);
	}
	/*地图相关样式 end*/